<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <SimpleApplication.Properties.Settings>
            <setting name="Splitter1Distance" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="Splitter2Distance" serializeAs="String">
                <value>213</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1190, 640</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Psd1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Psd2" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Psd3" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Psd4" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Psi1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Psi2" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Psi3" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="Psi4" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="FreshnelDistance" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="FreshnelObjectSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DateEditorManagerSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFormMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FreshnelDistanceDecimals" serializeAs="String">
                <value>0</value>
            </setting>
        </SimpleApplication.Properties.Settings>
    </userSettings>
</configuration>
